<h1>Buy your FitzFest T-shirt Today!</h1>

<p>
    <label for="size">Size:</label>
    {{view "select" id="size" content=sizes value="selectedSize" prompt="Please select a size" selection="selectedSize"}}
</p>

{{#if selectedSize}}
  <p>
    <label for="quantity">Quantity:</label>
    {{view "select" id="quantity"  value="selectedQuantity" selection="selectedQuantity" prompt="Select a Quantity" content=quantities}}
  </p>
{{/if}}

{{view 'swag'}}



{{#if selectedSize}}
   <p>
    <b>Selected Size: </b>
        {{selectedSize}}
    </p>

    <p>
      <b> Selected Quantity:</b>
       {{selectedQuantity}}
    </p>

{{/if}}

{{#view "paypal"}}
  {{#if selectedSize}}
    {{#if selectedQuantity}}
    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button-minicart.min.js?merchant=77N877E3K98ME"
      	data-button="cart"
      	data-name={{selectedSize}}
      	data-amount={{price}}
      	data-quantity={{selectedQuantity}}
      	data-shipping="0.00"
      	data-tax="0.00"
      	data-callback="fitzfest.com"
      	data-env="sandbox"
    ></script>
    {{/if}}
  {{/if}}
{{/view}}
