<h1>Buy your FitzFest T-shirt today!</h1>

<div id="steps " class=>
  <p><b>Step 1:</b> Select a size and the number of T-shirts you want in that size. Add to your cart.</p>
  <p><b>Step 2:</b> Repeat with different sizes as needed.</p>
  <p><b>Step 3:</b> Check out with PayPal.</p>
  <p><b>Step 4:</b> Prepare to party!</p>
</div>
<p>
    <label for="size">Size:</label>
    {{view "select" id="size" content=sizes value="selectedSize" prompt="Please select a size" selection="selectedSize"}}
</p>

{{#if selectedSize}}
  <p>
    <label for="quantity">Quantity:</label>
    {{view "select" id="quantity"  value="selectedQuantity" selection="selectedQuantity" prompt="Select a Quantity" content=quantities}}
  </p>
{{/if}}


{{view 'swag'}}



{{#if selectedSize}}
   <p>
    <b>Selected Size: </b>
        {{selectedSize}}
    </p>

    <p>
      <b> Selected Quantity:</b>
       {{selectedQuantity}}
    </p>

{{/if}}

{{#view "paypal"}}
  {{#if selectedSize}}
    {{#if selectedQuantity}}
    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button-minicart.min.js?merchant=4DWDXZYC3ZPJS"
      	data-button="cart"
      	data-name={{selectedSize}}
      	data-amount={{price}}
      	data-quantity={{selectedQuantity}}
      	data-shipping="0.00"
      	data-tax="0.00"
      	data-callback="fitzfest.com"
    ></script>
    {{/if}}
  {{/if}}
{{/view}}
